[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-academic-blog"]
	path = themes/hugo-academic-blog
	url = https://github.com/HugoBlox/hugo-theme-data-science-blog.git
